
form {
    display: inline-block;
    border: 1px solid #dadce0;
    min-width: 200px;
}

h1 {
    background: #f6f9fe;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    margin: 20px;
}

.buttons button {
    margin-right: 15px;
}